@font-face {
    font-family: 'Conv_raleway_thin';
    src: url('fonts/raleway_thin.eot');
    src: local('?'), url('fonts/raleway_thin.woff') format('woff'), url('fonts/raleway_thin.ttf') format('truetype'), url('fonts/raleway_thin.svg') format('svg');
    font-style: normal;
}

html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #000000 !important;
    font-family: 'Conv_raleway_thin', Sans-Serif;
    color: #a68256;
}

p {
    font-weight: 900;
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 9px;
    font-weight: 600;
}

h2 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
}

h3 {
    font-weight: 600;
}

hr {
    width: 75%;
    border-color: #b68f5f;
}

p {
    font-weight: 600;
}

.img-carrocel {
    width: 100%;
    max-height: 500px;
}

.img-thumb {
    display: block;
    float: left;
    margin-top: 10px;
    width: 240px !important;
    margin-bottom: 15px;
}

#sync2 {
    width: 85%;
    margin: 0 auto;
}

.navbar-inverse {
    letter-spacing: 5px;
    background-color: #000000 !important;
}

.position-logo {

    padding-top: 78px;

}

.position-mobile {
    width: 55px;
    height: 70px;
    margin-top: -52px;
    margin-left: 1%;
}

.navbar-inverse .navbar-nav > li > a {
    padding: 0 20px 0 35px;
    border-left: 1px solid;
    color: #a68256;
    display: inline-block !important;
}

.navbar-inverse .navbar-nav > li > a:last-child {
    border-right: 1px solid;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    margin-top: -15px;
}

.navbar {
    font-size: 15px;
    font-weight: 900;
}

.container {
    margin-top: -5px;
}

.center {
    text-align: center;
}

.cinza {
    color: #555555 !important;
}

.sub_titulo {
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.clear {
    clear: both;
}

.texto_home {
    width: 78%;
    margin-left: 12%;
}

.texto_home_port {
    width: 78%;
    margin-left: 12%;
}

.btn-padrao {
    background-color: #a68256;
    color: #ede5dc;
    border-width: inherit;
    width: 170px;
    height: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
}

.btn-enviar {
    margin-left: 320px;
    margin-top: -96px;
    vertical-align: middle;
    background-color: #a68256;
    color: #ede5dc;
    border-width: inherit;
    width: 170px;
    height: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
}

.input_form {
    width: 238px;
    height: 47px;
    border-width: inherit;
    background-color: #3e3e3e;
    margin-left: 18px;
    margin-top: 20px;
    font-size: 14px;
    outline: none;
    padding: 3px;
    color: white;
    padding-left: 10px;
}

.textarea_form {
    width: 500px;
    height: 170px;
    border-width: inherit;
    background-color: #3e3e3e;
    margin-left: 18px;
    font-size: 12px;
    outline: none;
    color: white;
    resize: none;
    padding-left: 10px;
}

.transparente {
    z-index: 100;
    position: relative;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 8px -30px 140px 36px #000;
    margin-top: -50px;
}

.cinza_rodape {
    font-size: 13px;
    color: #555555;
}

.cor-texto {
    color: #7d7d7d;
}

.p_email {
    color: #a68256;
}

.ir_topo {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
}

.margem {
    margin-left: 30px;
}

.font-arial {
    font-family: Arial;
    font-size: 13px;
}

.icon-home {

    width: 1000px;
    height: 230px;
    margin: 0 auto;
}

.icon-home-interno {

    float: left;
}

.trocar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.div_trocar {
    background-color: #a68256 !important;
    width: 100%;
    padding-bottom: 87%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
    font-size: 1.5vw;
}

.trocar {
    width: 250px;

    float: left;
    position: relative;
    overflow: hidden;
}

.carrocel_mobile {
    width: 1000px;
}

.navbar-nav li {
    text-align: center;
    display: block;
    margin: 0 auto;
    float: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #a68256;
}

.navbar-header {
    margin-top: 22px
}

.div-titulo {
    float: left;
}

.front {
    background-image: url('/imagens/home_min_1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
    float: left;
    top: 0;
    height: 100%;
}

.link {
    text-decoration: none;
    color: white;
}

.link, .link:hover {
    text-decoration: none;
    color: white;
}

.trocar .div_trocar .link {
    width: 100%;
    height: 247px;
    display: block;
    color: #fff;
    text-decoration: none !important;
}

.erro{
    border: dashed #a68256 2px;
}

/* <========== CELULAR ==========> */
@media (max-width: 425px) {
    .icon-home {
        width: 100% !important;
        height: 100% !important;
    }

    .trocar {
        width: 50% !important;
    }
}

@media screen and (min-width: 767px) and (max-width: 1000px) {
    .icon-home {
        width: 100% !important;
        height: 100% !important;
    }

    .trocar {
        width: 25% !important;
    }
}

@media (max-width: 767px) {

    .icon-home {
        width: 100%;
        height: 100%;
    }

    .trocar {
        width: 25%;
    }

    .margem {
        margin-left: 0px;
    }

    .img_mobile_home {
        width: 100%;
        margin-top: 0%;
    }

    .navbar-toggle {
        border: 0;
    }

    .texto_home {
        width: 100%;
        margin-left: 0;
    }

    hr {
        width: 100%;
    }

    .sub_titulo {
        font-size: 21px;
    }

    .input_form {
        width: 100%;
        margin-left: 0%;
    }

    .textarea_form {
        width: 100%;
        margin-left: -1%;
    }

    .btn-enviar {
        margin-left: 0px;
        margin-top: 20px;
    }

    .navbar-inverse .navbar-nav > li > a {
        width: 100%;
        border-right: 0;
        border-left: 0;
        padding-top: 15px;
    }

    .navbar-inverse .navbar-nav > li > a:last-child {
        border-right: 0px;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        margin-top: 25px !important;
    }

    .h2_mobile {
        margin-top: 15px;
    }

    .navbar-collapse {
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .hidden_mobile {
        display: none;
    }

    .margem_top {
        margin-top: 15px;
    }

    .container-fluid {
        margin-bottom: 5%;
    }

    .flexslider {
        width: 100% !important;
        margin: 0 0 20px !important;
    }

    .div_trocar {
        height: 130px;
        line-height: 136px;
        font-size: 13px;
    }

    .img-thumb {
        width: 95% !important;
    }

    #sync2 {
        width: 100% !important;
    }

    /* <========== CELULAR ==========> */
}

/* <========== TABLET ==========> */

@media (min-width: 768px) {
    .navbar-nav {
        float: inherit !important;
        margin-top: 5%;
    }

    .position-mobile {
        display: none;
    }

    .rodape_mobile {
        display: none;
    }

    .hidden_desk {
        display: none;
    }

    .div_trocar {
        height: 247px;
        line-height: 233px;
    }

    .img-thumb {
        width: 95% !important;
    }

}

/* <========== TABLET ==========> */

@media screen and (min-width: 768px) and (max-width: 850px) {
    #sync2 {
        width: 100% !important;
    }
}

